<div class="container-fluid d-flex flex-column gap-2">
  <div>
    <p style="color: green"><%= notice %></p>
  </div>

  <div class="d-flex gap-2">
    <%= render @book %>
    <div>
      <%= link_to "Edit this book", edit_book_path(@book), class: "btn btn-primary" %> |
      <%= link_to "Back to books", books_path, class: "btn btn-primary" %>

      <%= button_to "Destroy this book", @book, method: :delete, class: "btn btn-danger mt-5" %>
    </div>

    <%= form_with(model: @book_review) do |form| %>
      <h2>Review Form</h2>
      <div class="form-group">
        <%= form.label :review, style: "display: block" %>
        <%= form.text_area :review, class: "form-control" %>
        <%= form.hidden_field :user_id, :value => current_user.id %>
        <%= form.hidden_field :book_id, :value => @book.id %>
      </div>
      <div>
        <%= form.submit "Create book review", :class => "btn btn-primary mt-4" %>
      </div>
    <% end %>

    <h2>Review list</h2>
    <ul>
      <% @book.book_review.each do |book_review| %>
        <li><%= book_review.review %> (<i><%= book_review.user.name %></i>)</li>
      <% end %>
    </ul>
  </div>
</div>

